# **1. 수업 내용 정리**

- 변수

- type() 함수

- 사칙연산

- 주석 및 문자열 내 "", '' 사용

- \n과 \t

- 문자열 내 +와 *의 사용

- 문자열 인덱싱과 len() 함수

- 문자열의 특정 글자 수 세기, 배열을 하나의 문장으로 만들기 (count(), join()
함수)

- 문자열을 소문자, 대문자로 만들기 (lower(), upper() 함수)

- 문자열의 공백 제거 (stript(), lstrip(), rstrip() 함수)

- 문자열 분할 및 제거 (split(), replace() 함수)

- 지정 연산자 및 포맷팅 (%d, %s와 f{}, {0:10.4f}, format(변수)

# **변수**

- 변수명을 설정하고 =을 이용해 변수에 값 저장

- 변수에는 정수, 실수, 문자열, boolean(참, 거짓) 등을 사용 가능

- 변수는 여러번 재활용 가능 → 값을 여러번 재활용 가능

- python의 변수는 형변환 없이 자유롭게 사용 가능

In [111]:
print('안녕하세요')

a = 10
print(a)

a = 20
print(a)

a = 30
print(a)

안녕하세요
10
20
30
ABC

# **type() 함수**

- 각 변수의 type을 알려주는 함수

- 정수(int)와 실수(float), 문자열(str), boolean형 등으로 type 분류

- 8진수 16진수는 정수를 표현하는 다른 방식이기 때문에 int형으로 출력

In [113]:
# type() → 변수 또는 값의 type을 알려주는 함수

a = 10        # 정수
b = 10.123    # 실수
c = 0o111     # 8진수
d = 0x8BF     # 16진수

print(a)
print(b)
print(c)
print(d)
print('')

print(type(a)) # int → 정수형
print(type(b)) # float → 실수형
print(type(c)) # int → 정수형
print(type(d)) # int → 정수형

10
10.123
73
2239

<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

# **사칙연산**

- 더하기(+): 2개 이상의 변수 또는 숫자(정수, 실수)를 더한 값
ex) 2 + 5 = 7

- 빼기(-): 2개 이상의 변수 또는 숫자(정수, 실수)를 뺀 값
ex) 5 - 2 = 3

- 곱하기(*): 2개 이상의 변수 또는 숫자(정수, 실수)를 곱한 값
ex) 2 * 5 = 10

- 나누기(/): 2개 이상의 변수 또는 숫자(정수, 실수)를 나눈 값
ex) 5 / 2 = 2.5

- 몫(%): 2개 이상의 변수 또는 숫자(정수, 실수)를 나눈 후 나머지를 제외한 값
ex) 5 % 2 = 2

- 제곱(`**`): 1개 이상의 값을 제곱한 값, 제곱 앞의 값을 뒤의 값으로 제곱
ex) 2 `**` 2 = 4

In [115]:
# 사칙연산

a = 4
b = 3

print(a)    # 변수 a의 값
print(b)    # 변수 b의 값
print('')

print(a+b)  # 더하기(+): 변수 a ＋ b의 값 → 4 (변수 a의 값) ＋ 3 (변수 b의 값) = 7 (출력값)
print(a*b)  # 곱하기(*): 변수 a × b의 값 → 4 (변수 a의 값) × 3 (변수 b의 값) = 12 (출력값)
print(a-b)  # 빼기(-): 변수 a － b의 값 → 4 (변수 a의 값) － 3 (변수 b의 값) = 1 (출력값)
print(a/b)  # 나누기(/): 변수 a ÷ b의 값 → 4 (변수 a의 값) ÷ 3 (변수 b의 값) = 1.33333333... (출력값)
print(a**b) # 제곱(**): 변수 a 제곱 b의 값 → 4 (변수 a의 값)의 3 (변수 b의 값)제곱 = 64 (출력값)
print(7%3)  # 나눈 몫(%): 변수 a ÷ b의 값 중 나머지를 제외한 값 → 4 (변수 a의 값) ÷ 3 (변수 b의 값) = 1(.3333[생략]) (출력값)

4
3

7
12
1
1.3333333333333333
64
1

# **주석 및 따옴표 사용**

- 주석을 사용하기 위해선 ''' '''와 # 사용

- 한줄 주석은 # 뒤에 주석 내용 작성

- 여러 줄 주석은 ''' 내용 '''으로 작성

- 문자열 안에서 쌍따옴표("")를 사용하고 싶으면 문자열을 홀따옴표('')로 묶고 문자열 내부에 쌍따옴표 사용
ex) 'Computer: "Hello, World"' → Computer: "Hello, World"

- 문자열 안에서 홀따옴표('')를 사용하고 싶으면 문자열을 쌍따옴표("")로 묶고 문자열 내부에 홀따옴표 사용
ex) "Computer: 'Hello, World'" → Computer: 'Hello, World'

- 변수에 ''' 내용 '''를 사용할 경우 주석이 아니라 지정한 띄어쓰기, 줄 바꿈까지 모두 출력

In [47]:
'문장을 적으면 안되요.'

'''
이 부분도 주석입니다
여러 줄을 주석으로 구성하고 싶을 때에는
문자열을 사용하면 됩니다
'''


a = 'A: 누구는 말했다 "최선을 다해라"\n'
print(a)

b = "B: 누구는 말했다 '최선을 다해라'\n"
print(b)


c = '''안녕
            하세
            요
'''
print(c)

A: 누구는 말했다 "최선을 다해라"

B: 누구는 말했다 '최선을 다해라'

안녕
            하세
            요

# **\n과 \t의 사용**

- \n은 문자열 내 줄바꿈(엔터)를 위해 사용

- \t는 문자열 내 간격 띄우기 (탭)을 위해 사용

In [48]:
a = '누구는 말했다 \n최선을 다하라'
print(a)

b = '115\t23\t2516'                 # 결과값: 115  23  2516
c = '1\t31255\t456'                 # 결과값: 1  31255 456

print(b)
print(c)

누구는 말했다
 최선을 다하라
115	23	2516

# **문자열의 + 사용**

- 2개 이상의 문자열을 하나의 문자열로 연결하기 위해 사용

- 문자열 + 문자열, 정수 + 정수, 실수 + 실수, 정수 + 실수는 사용 가능

- 문자열 + 숫자 (정수 or 실수), 문자열 + boolean은 에러 발생

- 숫자 + boolean은 boolean이 True면 1, False면 0으로 계산되서 숫자로 더해진 값으로 출력

In [118]:
a = 'python'
b = ' is good'

text = a + b
print(text)

print(5 + True)

python is good
6

# **문자열의 반복 출력**

- 문자열에 곱하기 숫자를 하면 설정한 숫자만큼 반복 실행
ex) print('Hello' * 3)를 할 경우 Hello 3번 출력

In [54]:
text = 'python good\n'
print(text * 2)

print('=' * 30)
print('Python')
print('=' * 30)

python good
python good

==============================
Python
==============================

# **문자열 인덱싱 (Indexing)**

- 문자열에서 지정한 index번째의 글자를 출력

- index 번호는 0부터 시작

ex)
Text = 'Hello, world'
Text[2] → l (전체의 3번째 위치의 글자 출력)

In [56]:
text = 'python is good'

print(text[3])

h

# **len() 함수**

- 변수 또는 문자열의 길이를 출력

- 문자열이나 변수에 저장된 띄어쓰기까지 포함한 길이를 출력

- 문자열만 사용 가능

In [60]:
text = 'I love python'

print(text)
print(len(text))

I love python
13

# **count() 함수**

- 변수 또는 문자열에서 사용자가 설정한 특정 키워드의 개수 세기

- list에서도 사용 가능

In [4]:
text = 'python is good'

print(text.count('o')) # text 변수 중 'o'의 개수 세기
print(text.count('a')) # text 변수 중 'a'의 개수 세기

3
0

In [5]:
text = 'python is good'

print(','.join(text)) # text 변수 의 모든 글자 사이에 ','을 넣어서 한 문장으로 만들기

p.y.t.h.o.n. .i.s. .g.o.o.d

In [61]:
text1 = 'python is good'
text2 = 'Python is Good'

print(text1.lower()) # text1을 모두 소문자로 변경 → 기존에 모두 소문자여서 변환 X
print(text2.lower()) # text1을 모두 소문자로 변경 → Python의 'P', Good의 'G'가 소문자로 변환

print(text1.upper()) # text1을 모두 대문자로 변경 → 기존에 모두 소문자여서 모든 글자를 대문자로 변환
print(text2.upper()) # text1을 모두 소문자로 변경 → Python의 'P', Good의 'G'를 제외한 모든 글자를 대문자로 변환

python is good
python is good
PYTHON IS GOOD
PYTHON IS GOOD

In [9]:
text = ' hi '

print(text)
print(text.strip()) # text 변수 중 공백 제거 → 앞뒤 공백 모두 제거
print(text.lstrip()) # text 변수 중 공백 제거 → 왼쪽(앞) 공백 제거
print(text.rstrip()) # text 변수 중 공백 제거 → 오른쪽(뒤) 공백 제거

 hi
hi
hi
 hi

In [10]:
text = 'python is good'

print(text.split()) # text 변수 중 공백을 기준으로 배열 자르기

text1 = 'a, b, c, d e'
print(text1.split(',')) # text 변수 중 ','를 기준으로 배열 자르기

['python', 'is', 'good']
['a', ' b', ' c', ' d e']

In [13]:
text = 'python is good'

print('원래 단어: ' + text + ' / 바뀐 단어: ' + text.replace('good', 'bad'))          # 변수(값).replace('기존 단어', '변경할 단어')를 이용해 'python is good'이라는 문장을 'python is bad'로 변경
print('원래 단어: ' + text + ' / 바뀐 단어: ' + text.replace('python is', 'I am'))    # 변수(값).replace('기존 단어', '변경할 단어')를 이용해 'python is good'이라는 문장을 'I am good'으로 변경

원래 단어: python is good / 바뀐 단어: python is bad
원래 단어: python is good / 바뀐 단어: I am good

In [18]:
print('사과 10개가 있습니다')

print('사과 %d개가 있습니다' %3)            # 지정 연산자 중 정수형 지정 연산자 → 문장 중 %d 부분에 3을 넣기 위해 사용 / 3 대신 변수 사용 가능

print('제 이름은 %s입니다' %'조병준')       # 지정 연산자 중 문자열 지정 연산자 → 문장 중 %s 부분에 조병준을 넣기 위해 사용 / 조병준 대신 변수 사용 가능

number = 5
print('사과 %d개가 있습니다' %number)       # 지정 연산자 중 정수형 지정 연산자 → 문장 중 %d 부분에 5를 넣기 위해 변수 number에 정수 5를 저장해 사용

fruit = '감귤'
number = 3

print('%s %d개가 있습니다' %(fruit,number))
# 지정 연산자 중 정수형/문자열 지정 연산자 → 2개 이상의 지정 연산자를 사용하기 위해선 %(변수(값), 변수(값))안에 값을 지정
# 문장 중 %d 부분에 3을 넣기 위해 변수 number에 정수 3를 저장해 사용 / 문장 중 %s 부분에 감귤을 넣기 위해 변수 fruit에 문자열 감귤을 저장해 사용

사과 10개가 있습니다
사과 3개가 있습니다
제 이름은 조병준입니다
사과 5개가 있습니다
감귤 3개가 있습니다

In [42]:
text = 'python is good'

print('{0:<20}'.format(text))         # text를 포함한 총 글자수 20 안에서 text를 왼쪽 정렬 / 남는 칸은 공백
print('{0:>20}'.format(text))         # text를 포함한 총 글자수 20 안에서 text를 오른쪽 정렬 / 남는 칸은 공백
print('{0:^20}'.format(text))         # text를 포함한 총 글자수 20 안에서 text를 가운데 정렬 / 남는 칸은 공백
print('{0:=^20}'.format(text))        # text를 포함한 총 글자수 20 안에서 text를 가운데 정렬 / 남는 칸은 =로 대체

pi = 3.141592
print('{0:0.4f}'.format(pi))          # 변수 pi에 저장된 값을 실수형으로 변환하고 pi 포함 글자수 설정 없이 소수점 4자리까지 출력
print('{0:10.4f}'.format(pi))          # 변수 pi에 저장된 값을 실수형으로 변환하고 pi 포함 글자수 10 안에서 소수점 4자리까지 출력 (오른쪽 정렬)
print('%d.2f' %pi)                    # 변수 pi에 저장된 값을 실수형으로 변환하고 소수점 2자리까지 출력

python is good
python is good
      python is good
   python is good
===python is good===
3.1416
    3.1416
3.2f

In [20]:
name = '조병준'
age = 25
print(f'나의 이름은 {name}입니다. 나이는 {age}세입니다.') # 문자열 포맷팅을 위해 사용 / 문자열 앞에 f을 붙여서 사용 / 문자열 내 {변수}를 통해 변수 직접 사용 가능

나의 이름은 조병준입니다. 나이는 25세입니다.

In [43]:
a = input('내용을 입력해주세요: ');                       # 문자열을 입력받기 위해 사용 / input 내의 문자열이나 변수를 출력하고 사용자에게 문자열 입력값을 받아서 변수 a에 저장
b = int(input('정수를 입력해주세요: '))                   # 정수값을 입력받기 위해 사용 / input 내의 문자열이나 변수를 출력하고 사용자에게 문자열 입력값을 받아서 정수형으로 변환해 변수 b에 저장
c = float(input('실수를 입력해주세요: '))                 # 실수값을 입력받기 위해 사용 / input 내의 문자열이나 변수를 출력하고 사용자에게 문자열 입력값을 받아서 실수형으로 변환해 변수 c에 저장

print(a)                                                  # 입력받은 변수 a의 값 출력
print(b + c)                                              # 입력받은 변수 b와 c의 값을 더하여 출력 / 정수 + 실수인 경우 최종 결과는 추가적인 설정없이 실수형으로 설정

내용을 입력해주세요: aaa
정수를 입력해주세요: 1
실수를 입력해주세요: 2.4
aaa
3.4
<class 'float'>

# **2. 문제 풀이**

- 입력 값 제곱값 출력

- 문자열 인덱싱 및 슬라이싱

- 전화번호 형식 변경

- 입력받은 문자열의 첫번째 글자 대문자 변환

- 문자열의 값 분할

# **문제 1. 사용자에게 입력받은 수의 제곱을 계산하여 출력하는 코드를 작성하시오**

- 값 입력시 제곱을 출력

In [70]:
number = int(input('정수를 입력하세요: '))
print(f'입력하신 정수의 제곱값은: {number ** 2}입니다')

정수를 입력하세요: 5
입력하신 정수의 제곱값은: 25입니다

# **문제 2. 문자열 인덱싱 또는 슬라이싱을 사용하여 년 월 일 날씨를 출력하시오**

- '20230601sunny'를 다음과 같은 형식으로 변경

- year = '2023'
- month = '06'
- day = '01'
- weather = 'sunny'

In [106]:
text = '20230601sunny'

year = text[:4]
print('년: ' + year)
month = text[4:6]
print('월: ' + month)
day = text[6:8]
print('일: ' + day)
weather = text[8:]
print('날씨: ' + weather)

print(year, month, day, weather)

년: 2023
월: 06
일: 01
날씨: sunny
2023 06 01 sunny

# **문제 3. 전화번호 형식 변경**

- 010-1234-5678의 형식으로 저장된 전화번호를 '-'를 제거해 01012345678의 형식으로 바꾸어서 저장

In [105]:
phone = input('전화번호를 입력하세요: ')
print('변경된 전화번호: ' + phone.replace('-', ''))

전화번호를 입력하세요: 010-3537-2370
변경된 전화번호: 01035372370

# **문제 4. 사용자에게 영어로된 문자열을 입력받고, 첫 문자만 대문자로 변경하시오**

- 예시: i am a boy → I am a boy

In [107]:
text = input('영어로된 문자열을 입력하세요: ')
print('첫 문자를 대문자로 변경한 문자열: ' + text.capitalize())

영어로된 문자열을 입력하세요: python is good
첫 문자를 대문자로 변경한 문자열: Python is good

# **문제 5. 카카오톡에 대한 정보는 다음과 같이 저장된다. 다음 문장을 날짜, 시간, 이름, 내용별로 분할**

- 예시문장 '2023년 1월 2일 오후 9:52, 조병준: 일단'

In [110]:
text = '2023년 1월 2일 오후 9:52, 조병준: 일단'

# 쉼표와 콜론을 기준으로 문자열 분할
date_time, name_content = text.split(', ')
name, content = name_content.split(': ')

# 날짜와 시간 분할
date, time = date_time.split(' 오후 ')

print(f"날짜: {date}")
print(f"시간: {time}")
print(f"이름: {name}")
print(f"내용: {content}")

날짜: 2023년 1월 2일
시간: 9:52
이름: 조병준
내용: 일단