In [23]:
# 변수 사용

print('안녕하세요') # print() 안에 ''를 통해 문자열을 넣어 사용, 정수, 실수 등은 숫자를 입력해 출력

a = 10        # 변수 a에 10의 값을 저장 → 정수인 10을 저장했기 때문에 정수형 변수
print(a)

a = 20        # 변수 a에 기존 저장된 10이라는 값을 20으로 변경
print(a)

a = 30        # 변수 a에 기존 저장된 20이라는 값을 30으로 변경
print(a)

안녕하세요
10
20
30

In [25]:
# type() → 변수 또는 값의 type을 알려주는 함수

a = 10        # 정수
b = 10.123    # 실수
c = 0o111     # 8진수
d = 0x8BF     # 16진수

print(a)
print(b)
print(c)
print(d)
print('')

print(type(a)) # int → 정수형
print(type(b)) # float → 실수형
print(type(c)) # int → 정수형 / 8진수는 정수를 표현하는 다른 방식이기 때문
print(type(d)) # int → 정수형 / 16진수는 정수를 표현하는 다른 방식이기 때문

10
10.123
73
2239

<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

In [28]:
# 사칙연산

a = 4
b = 3

print(a)    # 변수 a의 값
print(b)    # 변수 b의 값
print('')

print(a+b)  # 더하기(+): 변수 a ＋ b의 값 → 4 (변수 a의 값) ＋ 3 (변수 b의 값) = 7 (출력값)
print(a*b)  # 곱하기(*): 변수 a × b의 값 → 4 (변수 a의 값) × 3 (변수 b의 값) = 12 (출력값)
print(a-b)  # 빼기(-): 변수 a － b의 값 → 4 (변수 a의 값) － 3 (변수 b의 값) = 1 (출력값)
print(a/b)  # 나누기(/): 변수 a ÷ b의 값 → 4 (변수 a의 값) ÷ 3 (변수 b의 값) = 1.33333333... (출력값)
print(a**b) # 제곱(**): 변수 a 제곱 b의 값 → 4 (변수 a의 값)의 3 (변수 b의 값)제곱 = 64 (출력값)
print(7%3)  # 나눈 몫(%): 변수 a ÷ b의 값 중 나머지를 제외한 값 → 4 (변수 a의 값) ÷ 3 (변수 b의 값) = 1(.3333[생략]) (출력값)

4
3

7
12
1
1.3333333333333333
64
1

In [47]:
'문장을 적으면 안되요.'

'''
이 부분도 주석입니다
여러 줄을 주석으로 구성하고 싶을 때에는
문자열을 사용하면 됩니다
'''

# 문자열 안에 ""를 사용하기 위해서 ''로 문자열 구성

a = 'A: 누구는 말했다 "최선을 다해라"\n'
print(a)

# 문자열 안에 ''를 사용하기 위해서 ""로 문자열 구성
b = "B: 누구는 말했다 '최선을 다해라'\n"
print(b)

# '''로 묶으면 띄어쓰기, 줄 바꿈까지 같이 출력이 가능

c = '''안녕
            하세
            요
'''
print(c)

A: 누구는 말했다 "최선을 다해라"

B: 누구는 말했다 '최선을 다해라'

안녕
            하세
            요

In [48]:
a = '누구는 말했다 \n최선을 다하라' # \n은 문자열 내 엔터(줄바꿈)를 위해 사용
print(a)

b = '115\t23\t2516'                 # \t는 문자열 내 탭(간격 띄우기)을 위해 사용 → 결과값: 115  23  2516
c = '1\t31255\t456'                 # \t는 문자열 내 탭(간격 띄우기)을 위해 사용 → 결과값: 1  31255 456

print(b)
print(c)

누구는 말했다
 최선을 다하라
115	23	2516

In [52]:
a = 'python'
b = ' is good'

text = a + b      # 2개 이상의 문자열을 하나의 문자열로 연결하기 위해 사용 / 문자열 + 문자열, 정수 + 정수, 실수 + 실수, 정수 + 실수만 사용 가능 / 문자열 + 정수 or 실수는 에러 발생
print(text)

python is good

In [54]:
text = 'python good\n'
print(text * 2)           # 문자열에 곱셈(*)을 주면 설정한 숫자만큼 반복해서 실행

print('=' * 30)
print('Python')
print('=' * 30)

python good
python good

==============================
Python
==============================

In [56]:
text = 'python is good'

print(text[3])     # 문자열에서 지정한 index 번호의 글자를 출력 / 시작은 0부터이기 때문에 4번째 글자인 h 출력

h

In [60]:
text = 'I love python'

print(text)
print(len(text))    # 변수 text의 길이를 출력 / 띄어쓰기까지 포함해 출력 / 문자열만 가능하고 정수형, 실수형은 불가

I love python
13

In [4]:
text = 'python is good'

print(text.count('o')) # text 변수 중 'o'의 개수 세기
print(text.count('a')) # text 변수 중 'a'의 개수 세기

3
0

In [5]:
text = 'python is good'

print(','.join(text)) # text 변수 의 모든 글자 사이에 ','을 넣어서 한 문장으로 만들기

p.y.t.h.o.n. .i.s. .g.o.o.d

In [61]:
text1 = 'python is good'
text2 = 'Python is Good'

print(text1.lower()) # text1을 모두 소문자로 변경 → 기존에 모두 소문자여서 변환 X
print(text2.lower()) # text1을 모두 소문자로 변경 → Python의 'P', Good의 'G'가 소문자로 변환

print(text1.upper()) # text1을 모두 대문자로 변경 → 기존에 모두 소문자여서 모든 글자를 대문자로 변환
print(text2.upper()) # text1을 모두 소문자로 변경 → Python의 'P', Good의 'G'를 제외한 모든 글자를 대문자로 변환

python is good
python is good
PYTHON IS GOOD
PYTHON IS GOOD

In [9]:
text = ' hi '

print(text)
print(text.strip()) # text 변수 중 공백 제거 → 앞뒤 공백 모두 제거
print(text.lstrip()) # text 변수 중 공백 제거 → 왼쪽(앞) 공백 제거
print(text.rstrip()) # text 변수 중 공백 제거 → 오른쪽(뒤) 공백 제거

 hi
hi
hi
 hi

In [10]:
text = 'python is good'

print(text.split()) # text 변수 중 공백을 기준으로 배열 자르기

text1 = 'a, b, c, d e'
print(text1.split(',')) # text 변수 중 ','를 기준으로 배열 자르기

['python', 'is', 'good']
['a', ' b', ' c', ' d e']

In [13]:
text = 'python is good'

print('원래 단어: ' + text + ' / 바뀐 단어: ' + text.replace('good', 'bad'))          # 변수(값).replace('기존 단어', '변경할 단어')를 이용해 'python is good'이라는 문장을 'python is bad'로 변경
print('원래 단어: ' + text + ' / 바뀐 단어: ' + text.replace('python is', 'I am'))    # 변수(값).replace('기존 단어', '변경할 단어')를 이용해 'python is good'이라는 문장을 'I am good'으로 변경

원래 단어: python is good / 바뀐 단어: python is bad
원래 단어: python is good / 바뀐 단어: I am good

In [18]:
print('사과 10개가 있습니다')

print('사과 %d개가 있습니다' %3)            # 지정 연산자 중 정수형 지정 연산자 → 문장 중 %d 부분에 3을 넣기 위해 사용 / 3 대신 변수 사용 가능

print('제 이름은 %s입니다' %'조병준')       # 지정 연산자 중 문자열 지정 연산자 → 문장 중 %s 부분에 조병준을 넣기 위해 사용 / 조병준 대신 변수 사용 가능

number = 5
print('사과 %d개가 있습니다' %number)       # 지정 연산자 중 정수형 지정 연산자 → 문장 중 %d 부분에 5를 넣기 위해 변수 number에 정수 5를 저장해 사용

fruit = '감귤'
number = 3

print('%s %d개가 있습니다' %(fruit,number))
# 지정 연산자 중 정수형/문자열 지정 연산자 → 2개 이상의 지정 연산자를 사용하기 위해선 %(변수(값), 변수(값))안에 값을 지정
# 문장 중 %d 부분에 3을 넣기 위해 변수 number에 정수 3를 저장해 사용 / 문장 중 %s 부분에 감귤을 넣기 위해 변수 fruit에 문자열 감귤을 저장해 사용

사과 10개가 있습니다
사과 3개가 있습니다
제 이름은 조병준입니다
사과 5개가 있습니다
감귤 3개가 있습니다

In [42]:
text = 'python is good'

print('{0:<20}'.format(text))         # text를 포함한 총 글자수 20 안에서 text를 왼쪽 정렬 / 남는 칸은 공백
print('{0:>20}'.format(text))         # text를 포함한 총 글자수 20 안에서 text를 오른쪽 정렬 / 남는 칸은 공백
print('{0:^20}'.format(text))         # text를 포함한 총 글자수 20 안에서 text를 가운데 정렬 / 남는 칸은 공백
print('{0:=^20}'.format(text))        # text를 포함한 총 글자수 20 안에서 text를 가운데 정렬 / 남는 칸은 =로 대체

pi = 3.141592
print('{0:0.4f}'.format(pi))          # 변수 pi에 저장된 값을 실수형으로 변환하고 pi 포함 글자수 설정 없이 소수점 4자리까지 출력
print('{0:10.4f}'.format(pi))          # 변수 pi에 저장된 값을 실수형으로 변환하고 pi 포함 글자수 10 안에서 소수점 4자리까지 출력 (오른쪽 정렬)
print('%d.2f' %pi)                    # 변수 pi에 저장된 값을 실수형으로 변환하고 소수점 2자리까지 출력

python is good
python is good
      python is good
   python is good
===python is good===
3.1416
    3.1416
3.2f

In [20]:
name = '조병준'
age = 25
print(f'나의 이름은 {name}입니다. 나이는 {age}세입니다.') # 문자열 포맷팅을 위해 사용 / 문자열 앞에 f을 붙여서 사용 / 문자열 내 {변수}를 통해 변수 직접 사용 가능

나의 이름은 조병준입니다. 나이는 25세입니다.

In [43]:
a = input('내용을 입력해주세요: ');                       # 문자열을 입력받기 위해 사용 / input 내의 문자열이나 변수를 출력하고 사용자에게 문자열 입력값을 받아서 변수 a에 저장
b = int(input('정수를 입력해주세요: '))                   # 정수값을 입력받기 위해 사용 / input 내의 문자열이나 변수를 출력하고 사용자에게 문자열 입력값을 받아서 정수형으로 변환해 변수 b에 저장
c = float(input('실수를 입력해주세요: '))                 # 실수값을 입력받기 위해 사용 / input 내의 문자열이나 변수를 출력하고 사용자에게 문자열 입력값을 받아서 실수형으로 변환해 변수 c에 저장

print(a)                                                  # 입력받은 변수 a의 값 출력
print(b + c)                                              # 입력받은 변수 b와 c의 값을 더하여 출력 / 정수 + 실수인 경우 최종 결과는 추가적인 설정없이 실수형으로 설정

내용을 입력해주세요: aaa
정수를 입력해주세요: 1
실수를 입력해주세요: 2.4
aaa
3.4
<class 'float'>