# **수업 내용 정리 (25/3/17)**

- 변수

- type() 함수

- 사칙연산

- 주석 및 문자열 내 "", '' 사용

- \n과 \t

- 문자열 내 +와 *의 사용

- 문자열 인덱싱과 len() 함수

- 문자열의 특정 글자 수 세기, 배열을 하나의 문장으로 만들기 (count(), join()
함수)

- 문자열을 소문자, 대문자로 만들기 (lower(), upper() 함수)

- 문자열의 공백 제거 (stript(), lstrip(), rstrip() 함수)

- 문자열 분할 및 제거 (split(), replace() 함수)

- 지정 연산자 및 포맷팅 (%d, %s와 f{}, {0:10.4f}, format(변수)

# **변수**

- 변수명을 설정하고 =을 이용해 변수에 값 저장

- 변수에는 정수, 실수, 문자열, boolean(참, 거짓) 등을 사용 가능

- 변수는 여러번 재활용 가능 → 값을 여러번 재활용 가능

- python의 변수는 형변환 없이 자유롭게 사용 가능

In [ ]:
print('안녕하세요')

a = 10
print(a)

a = 20
print(a)

a = 30
print(a)

안녕하세요
10
20
30
ABC

# **type() 함수**

- 각 변수의 type을 알려주는 함수

- 정수(int)와 실수(float), 문자열(str), boolean형 등으로 type 분류

- 8진수 16진수는 정수를 표현하는 다른 방식이기 때문에 int형으로 출력

In [ ]:
# type() → 변수 또는 값의 type을 알려주는 함수

a = 10        # 정수
b = 10.123    # 실수
c = 0o111     # 8진수
d = 0x8BF     # 16진수

print(a)
print(b)
print(c)
print(d)
print('')

print(type(a)) # int → 정수형
print(type(b)) # float → 실수형
print(type(c)) # int → 정수형
print(type(d)) # int → 정수형

10
10.123
73
2239

<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>

# **사칙연산**

- 더하기(+): 2개 이상의 변수 또는 숫자(정수, 실수)를 더한 값
ex) 2 + 5 = 7

- 빼기(-): 2개 이상의 변수 또는 숫자(정수, 실수)를 뺀 값
ex) 5 - 2 = 3

- 곱하기(*): 2개 이상의 변수 또는 숫자(정수, 실수)를 곱한 값
ex) 2 * 5 = 10

- 나누기(/): 2개 이상의 변수 또는 숫자(정수, 실수)를 나눈 값
ex) 5 / 2 = 2.5

- 몫(%): 2개 이상의 변수 또는 숫자(정수, 실수)를 나눈 후 나머지를 제외한 값
ex) 5 % 2 = 2

- 제곱(`**`): 1개 이상의 값을 제곱한 값, 제곱 앞의 값을 뒤의 값으로 제곱
ex) 2 `**` 2 = 4

In [ ]:
# 사칙연산

a = 4
b = 3

print(a)    # 변수 a의 값
print(b)    # 변수 b의 값
print('')

print(a+b)  # 더하기(+): 변수 a ＋ b의 값 → 4 (변수 a의 값) ＋ 3 (변수 b의 값) = 7 (출력값)
print(a*b)  # 곱하기(*): 변수 a × b의 값 → 4 (변수 a의 값) × 3 (변수 b의 값) = 12 (출력값)
print(a-b)  # 빼기(-): 변수 a － b의 값 → 4 (변수 a의 값) － 3 (변수 b의 값) = 1 (출력값)
print(a/b)  # 나누기(/): 변수 a ÷ b의 값 → 4 (변수 a의 값) ÷ 3 (변수 b의 값) = 1.33333333... (출력값)
print(a**b) # 제곱(**): 변수 a 제곱 b의 값 → 4 (변수 a의 값)의 3 (변수 b의 값)제곱 = 64 (출력값)
print(7%3)  # 나눈 몫(%): 변수 a ÷ b의 값 중 나머지를 제외한 값 → 4 (변수 a의 값) ÷ 3 (변수 b의 값) = 1(.3333[생략]) (출력값)

4
3

7
12
1
1.3333333333333333
64
1

# **주석 및 따옴표 사용**

- 주석을 사용하기 위해선 ''' '''와 # 사용

- 한줄 주석은 # 뒤에 주석 내용 작성

- 여러 줄 주석은 ''' 내용 '''으로 작성

- 문자열 안에서 쌍따옴표("")를 사용하고 싶으면 문자열을 홀따옴표('')로 묶고 문자열 내부에 쌍따옴표 사용
ex) 'Computer: "Hello, World"' → Computer: "Hello, World"

- 문자열 안에서 홀따옴표('')를 사용하고 싶으면 문자열을 쌍따옴표("")로 묶고 문자열 내부에 홀따옴표 사용
ex) "Computer: 'Hello, World'" → Computer: 'Hello, World'

- 변수에 ''' 내용 '''를 사용할 경우 주석이 아니라 지정한 띄어쓰기, 줄 바꿈까지 모두 출력

In [ ]:
'문장을 적으면 안되요.'

'''
이 부분도 주석입니다
여러 줄을 주석으로 구성하고 싶을 때에는
문자열을 사용하면 됩니다
'''


a = 'A: 누구는 말했다 "최선을 다해라"\n'
print(a)

b = "B: 누구는 말했다 '최선을 다해라'\n"
print(b)


c = '''안녕
            하세
            요
'''
print(c)

A: 누구는 말했다 "최선을 다해라"

B: 누구는 말했다 '최선을 다해라'

안녕
            하세
            요

# **\n과 \t의 사용**

- \n은 문자열 내 줄바꿈(엔터)를 위해 사용

- \t는 문자열 내 간격 띄우기 (탭)을 위해 사용

In [ ]:
a = '누구는 말했다 \n최선을 다하라'
print(a)

b = '115\t23\t2516'                 # 결과값: 115  23  2516
c = '1\t31255\t456'                 # 결과값: 1  31255 456

print(b)
print(c)

누구는 말했다
 최선을 다하라
115	23	2516

# **문자열의 + 사용**

- 2개 이상의 문자열을 하나의 문자열로 연결하기 위해 사용

- 문자열 + 문자열, 정수 + 정수, 실수 + 실수, 정수 + 실수는 사용 가능

- 문자열 + 숫자 (정수 or 실수), 문자열 + boolean은 에러 발생

- 숫자 + boolean은 boolean이 True면 1, False면 0으로 계산되서 숫자로 더해진 값으로 출력

In [ ]:
a = 'python'
b = ' is good'

text = a + b
print(text)

print(5 + True)

python is good
6

# **문자열의 반복 출력**

- 문자열에 곱하기 숫자를 하면 설정한 숫자만큼 반복 실행
ex) print('Hello' * 3)를 할 경우 Hello 3번 출력

In [ ]:
text = 'python good\n'
print(text * 2)

print('=' * 30)
print('Python')
print('=' * 30)

python good
python good

==============================
Python
==============================

# **문자열 인덱싱 (Indexing)**

- 문자열에서 지정한 index번째의 글자를 출력

- index 번호는 0부터 시작

ex)
Text = 'Hello, world'
Text[2] → l (전체의 3번째 위치의 글자 출력)

In [ ]:
text = 'python is good'

print(text[3])

h

# **len() 함수**

- 변수 또는 문자열의 길이를 출력

- 문자열이나 변수에 저장된 띄어쓰기까지 포함한 길이를 출력

- 문자열만 사용 가능

In [ ]:
text = 'I love python'

print(text)
print(len(text))

I love python
13

# **count() 함수**

- 변수 또는 문자열에서 사용자가 설정한 특정 키워드의 개수 세기

- list에서도 사용 가능

In [ ]:
text = 'python is good'

print(text.count('o')) # text 변수 중 'o'의 개수 세기
print(text.count('a')) # text 변수 중 'a'의 개수 세기

3
0

In [ ]:
text = 'python is good'

print(','.join(text)) # text 변수 의 모든 글자 사이에 ','을 넣어서 한 문장으로 만들기

p.y.t.h.o.n. .i.s. .g.o.o.d

In [ ]:
text1 = 'python is good'
text2 = 'Python is Good'

print(text1.lower()) # text1을 모두 소문자로 변경 → 기존에 모두 소문자여서 변환 X
print(text2.lower()) # text1을 모두 소문자로 변경 → Python의 'P', Good의 'G'가 소문자로 변환

print(text1.upper()) # text1을 모두 대문자로 변경 → 기존에 모두 소문자여서 모든 글자를 대문자로 변환
print(text2.upper()) # text1을 모두 소문자로 변경 → Python의 'P', Good의 'G'를 제외한 모든 글자를 대문자로 변환

python is good
python is good
PYTHON IS GOOD
PYTHON IS GOOD

In [ ]:
text = ' hi '

print(text)
print(text.strip()) # text 변수 중 공백 제거 → 앞뒤 공백 모두 제거
print(text.lstrip()) # text 변수 중 공백 제거 → 왼쪽(앞) 공백 제거
print(text.rstrip()) # text 변수 중 공백 제거 → 오른쪽(뒤) 공백 제거

 hi
hi
hi
 hi

In [ ]:
text = 'python is good'

print(text.split()) # text 변수 중 공백을 기준으로 배열 자르기

text1 = 'a, b, c, d e'
print(text1.split(',')) # text 변수 중 ','를 기준으로 배열 자르기

['python', 'is', 'good']
['a', ' b', ' c', ' d e']

In [ ]:
text = 'python is good'

print('원래 단어: ' + text + ' / 바뀐 단어: ' + text.replace('good', 'bad'))          # 변수(값).replace('기존 단어', '변경할 단어')를 이용해 'python is good'이라는 문장을 'python is bad'로 변경
print('원래 단어: ' + text + ' / 바뀐 단어: ' + text.replace('python is', 'I am'))    # 변수(값).replace('기존 단어', '변경할 단어')를 이용해 'python is good'이라는 문장을 'I am good'으로 변경

원래 단어: python is good / 바뀐 단어: python is bad
원래 단어: python is good / 바뀐 단어: I am good

In [ ]:
print('사과 10개가 있습니다')

print('사과 %d개가 있습니다' %3)            # 지정 연산자 중 정수형 지정 연산자 → 문장 중 %d 부분에 3을 넣기 위해 사용 / 3 대신 변수 사용 가능

print('제 이름은 %s입니다' %'조병준')       # 지정 연산자 중 문자열 지정 연산자 → 문장 중 %s 부분에 조병준을 넣기 위해 사용 / 조병준 대신 변수 사용 가능

number = 5
print('사과 %d개가 있습니다' %number)       # 지정 연산자 중 정수형 지정 연산자 → 문장 중 %d 부분에 5를 넣기 위해 변수 number에 정수 5를 저장해 사용

fruit = '감귤'
number = 3

print('%s %d개가 있습니다' %(fruit,number))
# 지정 연산자 중 정수형/문자열 지정 연산자 → 2개 이상의 지정 연산자를 사용하기 위해선 %(변수(값), 변수(값))안에 값을 지정
# 문장 중 %d 부분에 3을 넣기 위해 변수 number에 정수 3를 저장해 사용 / 문장 중 %s 부분에 감귤을 넣기 위해 변수 fruit에 문자열 감귤을 저장해 사용

사과 10개가 있습니다
사과 3개가 있습니다
제 이름은 조병준입니다
사과 5개가 있습니다
감귤 3개가 있습니다

In [ ]:
text = 'python is good'

print('{0:<20}'.format(text))         # text를 포함한 총 글자수 20 안에서 text를 왼쪽 정렬 / 남는 칸은 공백
print('{0:>20}'.format(text))         # text를 포함한 총 글자수 20 안에서 text를 오른쪽 정렬 / 남는 칸은 공백
print('{0:^20}'.format(text))         # text를 포함한 총 글자수 20 안에서 text를 가운데 정렬 / 남는 칸은 공백
print('{0:=^20}'.format(text))        # text를 포함한 총 글자수 20 안에서 text를 가운데 정렬 / 남는 칸은 =로 대체

pi = 3.141592
print('{0:0.4f}'.format(pi))          # 변수 pi에 저장된 값을 실수형으로 변환하고 pi 포함 글자수 설정 없이 소수점 4자리까지 출력
print('{0:10.4f}'.format(pi))          # 변수 pi에 저장된 값을 실수형으로 변환하고 pi 포함 글자수 10 안에서 소수점 4자리까지 출력 (오른쪽 정렬)
print('%d.2f' %pi)                    # 변수 pi에 저장된 값을 실수형으로 변환하고 소수점 2자리까지 출력

python is good
python is good
      python is good
   python is good
===python is good===
3.1416
    3.1416
3.2f

In [ ]:
name = '조병준'
age = 25
print(f'나의 이름은 {name}입니다. 나이는 {age}세입니다.') # 문자열 포맷팅을 위해 사용 / 문자열 앞에 f을 붙여서 사용 / 문자열 내 {변수}를 통해 변수 직접 사용 가능

나의 이름은 조병준입니다. 나이는 25세입니다.

In [ ]:
a = input('내용을 입력해주세요: ');                       # 문자열을 입력받기 위해 사용 / input 내의 문자열이나 변수를 출력하고 사용자에게 문자열 입력값을 받아서 변수 a에 저장
b = int(input('정수를 입력해주세요: '))                   # 정수값을 입력받기 위해 사용 / input 내의 문자열이나 변수를 출력하고 사용자에게 문자열 입력값을 받아서 정수형으로 변환해 변수 b에 저장
c = float(input('실수를 입력해주세요: '))                 # 실수값을 입력받기 위해 사용 / input 내의 문자열이나 변수를 출력하고 사용자에게 문자열 입력값을 받아서 실수형으로 변환해 변수 c에 저장

print(a)                                                  # 입력받은 변수 a의 값 출력
print(b + c)                                              # 입력받은 변수 b와 c의 값을 더하여 출력 / 정수 + 실수인 경우 최종 결과는 추가적인 설정없이 실수형으로 설정

내용을 입력해주세요: aaa
정수를 입력해주세요: 1
실수를 입력해주세요: 2.4
aaa
3.4
<class 'float'>

# **2. 문제 풀이**

- 입력 값 제곱값 출력

- 문자열 인덱싱 및 슬라이싱

- 전화번호 형식 변경

- 입력받은 문자열의 첫번째 글자 대문자 변환

- 문자열의 값 분할

# **문제 1. 사용자에게 입력받은 수의 제곱을 계산하여 출력하는 코드를 작성하시오**

- 값 입력시 제곱을 출력

In [ ]:
number = int(input('정수를 입력하세요: '))
print(f'입력하신 정수의 제곱값은: {number ** 2}입니다')

정수를 입력하세요: 5
입력하신 정수의 제곱값은: 25입니다

# **문제 2. 문자열 인덱싱 또는 슬라이싱을 사용하여 년 월 일 날씨를 출력하시오**

- '20230601sunny'를 다음과 같은 형식으로 변경

- year = '2023'
- month = '06'
- day = '01'
- weather = 'sunny'

In [ ]:
text = '20230601sunny'

year = text[:4]
print('년: ' + year)
month = text[4:6]
print('월: ' + month)
day = text[6:8]
print('일: ' + day)
weather = text[8:]
print('날씨: ' + weather)

print(year, month, day, weather)

년: 2023
월: 06
일: 01
날씨: sunny
2023 06 01 sunny

# **문제 3. 전화번호 형식 변경**

- 010-1234-5678의 형식으로 저장된 전화번호를 '-'를 제거해 01012345678의 형식으로 바꾸어서 저장

In [ ]:
phone = input('전화번호를 입력하세요: ')
print('변경된 전화번호: ' + phone.replace('-', ''))

전화번호를 입력하세요: 010-3537-2370
변경된 전화번호: 01035372370

# **문제 4. 사용자에게 영어로된 문자열을 입력받고, 첫 문자만 대문자로 변경하시오**

- 예시: i am a boy → I am a boy

In [ ]:
text = input('영어로된 문자열을 입력하세요: ')
print('첫 문자를 대문자로 변경한 문자열: ' + text.capitalize())

영어로된 문자열을 입력하세요: python is good
첫 문자를 대문자로 변경한 문자열: Python is good

# **문제 5. 카카오톡에 대한 정보는 다음과 같이 저장된다. 다음 문장을 날짜, 시간, 이름, 내용별로 분할**

- 예시문장 '2023년 1월 2일 오후 9:52, 조병준: 일단'

In [ ]:
text = '2023년 1월 2일 오후 9:52, 조병준: 일단'

# 쉼표와 콜론을 기준으로 문자열 분할
date_time, name_content = text.split(', ')
name, content = name_content.split(': ')

# 날짜와 시간 분할
date, time = date_time.split(' 오후 ')

print(f"날짜: {date}")
print(f"시간: {time}")
print(f"이름: {name}")
print(f"내용: {content}")

날짜: 2023년 1월 2일
시간: 9:52
이름: 조병준
내용: 일단

# **============================================================================**

# **수업 내용 정리 (25/3/24)**

- **리스트 자료형 (list)**

- **튜플 자료형 (tuple)**

- **딕셔너리 자료형 (dictonary)**

- **집합 자료형 (set)**

- **불 자료형 (bool)**

# **리스트 자료형 (list)**

- **모든 조율의 자료형을 자유롭게 묶어서 사용할 수 있는 자료형의 묶음**

- **대괄호 []로 정의**

- **[] 또는 list()를 이용해 생성**

- **어떤 값이 저장되도 상관 X -> 숫자와 문자열 등 혼재 가능**

In [ ]:
# 비어 있는 리스트 생성 -> []로 생성
a = list()

# 리스트를 직접 선언 -> [1, '문자열', 0.5, '안녕']로 생성
b = [1, '문자열', 0.5, '안녕']

# b 리스트를 c에 복사 -> [1, '문자열', 0.5, '안녕']로 생성 (복사)
c = list(b)

print(a)
print(b)
print(c)

**리스트 인덱싱**

- 리스트도 문자열과 유사하게 인덱싱 및 슬라이싱 가능

- 문자열이나, 리스트 내부의 리스트도 하나의 요소로 취급

- ex) a = [1, '문자열', 0.5, '안녕'] -> a[0]: 1, a[1]: '문자열'

In [48]:
a = [1, '문자열', 0.5, '안녕']

print('a[0]: ', a[0])                                 # 1 출력
print('a[1]: ', a[1])                                 # '문자열' 출력
print('a[2]: ', a[2])                                 # 0.5 출력
print('a[3]: ', a[3])                                 # '안녕' 출력
print('a[-1]: ', a[-1])                               # '안녕' 출력

print('\n===============\n')

# a[1] = '문자열'
print('a[1][0]: ', a[1][0])                           # 문 출력
print('a[1][1]: ', a[1][1])                           # 자 출력
print('a[1][2]: ', a[1][2])                           # 열 출력

print('\n===============\n')

b = [1, 2, [3, 4, 5]]

print('b[0]: ', b[0])                                 # 1 출력
print('b[1]: ', b[1])                                 # 2 출력
print('b[2]: ', b[2])                                 # [3, 4, 5] 출력

print('\n===============\n')

# b[2] = [3, 4, 5]
print('b[2][0]: ', b[2][0])                           # 3 출력
print('b[2][1]: ', b[2][1])                           # 4 출력
print('b[2][2]: ', b[2][2])                           # 5 출력

print('\n===============\n')

# c 리스트 안에 있는 요소 'b'에 접근하는 방법
c = [1, 2, 3, ['python', 'is', 'good', ['a', 'b', 'c']]]

print(c[3][3][1])

a[0]:  1
a[1]:  문자열
a[2]:  0.5
a[3]:  안녕
a[-1]:  안녕

===============

a[1][0]:  문
a[1][1]:  자
a[1][2]:  열

===============

b[0]:  1
b[1]:  2
b[2]:  [3, 4, 5]

===============

b[2][0]:  3
b[2][1]:  4
b[2][2]:  5

===============

b

**슬라이싱**

- 문자열과 동일한 방법으로 리스트 슬라이싱 가능

- 리스트가 중첩되었을 때에는 인덱싱한 후 슬라이싱 필요

In [54]:
a = [1, 2, 3, 4, 5]

print(a[0:2])               # [1, 2] 출력
print(a[:2])                # [1, 2] 출력 → 0부터 시작할 경우 0은 생략 가능
print(a[3:5])               # [4, 5] 출력
print(a[3:])                # [4, 5] 출력 → 마지막까지할 경우 마지막 숫자는 생략 가능

b = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(b[2:5])               # [3, ['a', 'b', 'c'], 4] 출력 → ['a', 'b', 'c']를 하나의 요소로 인식
print(b[3][:2])             # ['a', 'b'] 출력 → ['a', 'b', 'c']를 하나의 요소로 인식 후 슬라이싱

[1, 2]
[1, 2]
[4, 5]
[4, 5]
[3, ['a', 'b', 'c'], 4]
['a', 'b']

**리스트 덧셈과 곱셈**

- 리스트 덧셈: 더하는 리스트가 하나로 합쳐짐

- 리스트 곱셈: 곱하는 수 만큼 인덱스가 반복 실행됨

In [9]:
a = [1, 2, 3]
b = [4, 5, 6]

c = a + b                         # a 리스트와 b 리스트가 합쳐져 c에 저장
print('a + b = ', c)              # [1, 2, 3, 4, 5, 6] 출력

print('a * 3 = ', a * 3)          # [1, 2, 3, 1, 2, 3, 1, 2, 3] 출력 → a를 3회 반복해서 출력
print('b * 2 = ', b * 2)          # [4, 5, 6, 4, 5, 6] 출력 → b를 2회 반복해서 출력

a + b =  [1, 2, 3, 4, 5, 6]
a * 3 =  [1, 2, 3, 1, 2, 3, 1, 2, 3]
b * 2 =  [4, 5, 6, 4, 5, 6]

**len()**

- 리스트의 길이를 구하는 함수

In [12]:
b = [1, 2, 3, ['python', 'is', 'good', ['a', 'b', 'c']]]

print(len(b))           # 4 출력 → ['python', 'is', 'good', ['a', 'b', 'c']]를 하나의 요소로 취급
print(len(b[3]))        # 4 출력 → ['a', 'b', 'c']를 하나의 요소로 취급
print(len(b[3][0]))     # 6 출력 → 문자열 'python'의 길이를 출력

4
4
6

**리스트의 수정과 삭제**

- 수정하기 위해선 변수명[인덱스] = 값으로 가능 → arry[2] = 5

- 기존에 인덱스가 존재할 경우 기존 인덱스의 값을 수정

- 삭제하기 위해선 del 변수명[인덱스]로 가능 → del arry[2]

**리스트의 값 추가**

- 변수명.append(x)를 통해 리스트의 가장 마지막에 값 추가

In [56]:
a = [1, 2, 3, 4, 6]
print(a)                                  # [1, 2, 3, 4, 6] 출력

print('\n===============\n')

a[4] = 5                                  # a 리스트의 index 4의 값을 5로 수정 (index는 0부터 시작이므로 5번째)
print(a)                                  # [1, 2, 3, 4, 5] 출력

print('\n===============\n')

del a[2:]                                 # a 리스트의 2번째 인덱스부터 삭제
print(a)                                  # [1, 2] 출력

print('\n===============\n')

a.append(4)                               # a 리스트의 가장 마지막에 4 추가
print(a)                                  # [1, 2, 4] 출력
a.append([5, 6, 7, 8])                    # a 리스트의 가장 마지막에 [5, 6, 7, 8] 추가
print(a)                                  # [1, 2, 4, [5, 6, 7, 8]] 출력

[1, 2, 3, 4, 6]

===============

[1, 2, 3, 4, 5]

===============

[1, 2]

===============

[1, 2, 4]
[1, 2, 4, [5, 6, 7, 8]]

**sort()**

- 리스트를 오름차순으로 정렬하는 함수

**reverse()**

- 순서를 뒤집는 함수

In [30]:
a = [2, 5, 7, 6, 3, 4, 1]
print(a)            # [2, 5, 7, 6, 3, 4, 1] 출력

a.sort()            # a를 오름차순으로 정렬
print(a)            # [1, 2, 3, 4, 5, 6, 7] 출력

a.reverse()         # 오름차순 정렬된 a의 순서를 반대로 변경 → 내림차순 효과
print(a)            # [7, 6, 5, 4, 3, 2, 1] 출력

[2, 5, 7, 6, 3, 4, 1]
[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

**index(x)**

- 리스트의 x값이 가장 먼저 존재하는 index 반환

**insert(i, x)**

- 리스트에 원하는 위치에 값 추가

**remove(x)**

- 리스트의 원하는 요소(값) 제거

- 중복값이 있을 경우, 첫번째 값만 제거

In [57]:
a = [1, 2, 3, 1, 4, 5]
print(a)                    # [1, 2, 3, 1, 4, 5]  출력

print(a.index(3))           # 2 출력 → 0부터 index가 시작이므로 3번째에 위치한 3의 index를 2로 출력

a.insert(3, 5)              # a의 3번째 index에 5 추가
print(a)                    # [1, 2, 3, 5, 1, 4, 5] 출력

a.remove(1)                 # a의 가장 먼저 나오는 1 제거
print(a)                    # [2, 3, 5, 1, 4, 5] 출력

[1, 2, 3, 1, 4, 5]
2
[1, 2, 3, 5, 1, 4, 5]
[2, 3, 5, 1, 4, 5]

**pop(i)**

- 리스트의 원하는 위치에 있는 요소 추출

In [34]:
a = [1, 2, 3, 4, 5]
print(a)

b = a.pop(2)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

**count(x)**

- 리스트에 있는 원하는 요소의 개수 세기

In [35]:
a = [1, 2, 3, 1, 2, 3, 1, 2, 3]

print(a.count(2))           # 3 출력
print(a.count(4))           # 0 출력 → 리스트에 없는 값을 넣어도 에러 발생 X

3

# **튜플 자료형 (tuple)**

- 리스트와 마찬가지로, 모든 자료형을 담을 수 있는 자료형

- 튜플은 한번 생성하면 값의 변경, 삭제가 불가능

In [40]:
t1 = (1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))
print(t1)

# 튜플 내부에 요소가 하나면 맨 뒤에 ,를 붙여서 사용 / ()에 값 하나만 사용시 연산자 우선을 위한 강조의 의미로 사용
t2 = (2, )
print(t2)

# 튜플 생성시 () 괄호를 생략 가능
t3 = 1, 2, 3
print(t3)

(1, 2, 3, ('python', 'is', 'good', ('a', 'b', 'c')))
(2,)
(1, 2, 3)

**튜플의 인덱싱 및 슬라이싱**

- 인덱싱과 슬라이싱은 문자열 리스트와 마찬가지로 가능하며 사용 방식도 동일

In [59]:
t1 = (1, 2, 3)

print(t1[0])              # 1 출력 → t1의 0번째 값 인덱싱
print(t1[1:])             # (2, 3) 출력 → t1의 1번째 부터 슬라이싱

1
(2, 3)

**튜플의 더하기와 곱하기**

- 튜플끼리 더하면 2개의 튜플이 합쳐짐

- 튜플의 곱하기는 리스트의 곱하기처럼 여러번 반복

**튜플의 길이 구하기**

- 튜플의 길이를 구하기 위해선 리스트 처럼 len() 함수를 사용

**튜플은 요소값 변경이 불가능하므로 리스트에 존재하는 sort, insert, remove, pop과 같은 내장 함수 사용 불가**

In [63]:
t1 = (1, 2, 3)
t2 = (4, 5)

t3 = t1 + t2                # t3라는 변수에 t1과 t2를 합쳐서 새로운 튜플 생성
print(t3)                   # (1, 2, 3, 4, 5) 출력

t4 = t2 * 3                 # t4라는 변수에 t2를 3번 반복해서 저장
print(t4)                   # (4, 5, 4, 5, 4, 5) 출력

print(len(t4))              # 6 출력

(1, 2, 3, 4, 5)
(4, 5, 4, 5, 4, 5)
6

# **딕셔너리 자료형 (dictionary)**

- 사전과 같이 key와 value를 한쌍으로 가지는 자료형

- 순차적으로 접근하지 않고, 오직 key를 통해서 value에 접근

- 순서가 없기 때문에, 인덱싱 및 슬라이싱 불가능

- key값은 고유한 값이므로 중복되는 key값 존재 시 마지막 설정된 key 값으로 저장, 리스트로 key 사용 불가

- {}를 사용해서 생성

**딕셔너리 요소 추가와 수정**

- 딕셔너리의 키와 값을 변수에 그대로 대입

- 기존의 key가 존재할 경우 값 수정, 미존재 시 값 생성

- 변수명[key] = value

**딕셔너리 요소 삭제**

- del 키워드를 사용하여 삭제

- 해당하는 key의 value와 함께 삭제

- del 변수명[key]

In [39]:
dic = {1: 'one', 2: 'two'}
print(dic)                        # {1: 'one', 2: 'two'} 출력

dic[3] = '삼'                     # 3 이라는 key가 없어서 값 생성
print(dic)                        # {1: 'one', 2: 'two', 3: '삼'} 출력

dic[3] = 'three'                  # 3 이라는 key가 있어서 값 수정
print(dic)                        # {1: 'one', 2: 'two', 3: 'three'} 출력

del dic[3]                        # key가 3인 값 삭제
print(dic)                        # {1: 'one', 2: 'two'} 출력

# key값이 중복될 경우 마지막으로 설정된 key값으로 설정
b = {1: 'one', 1: '하나', 2: 'two', 2: '둘'}
print(b)                          # {1: '하나', 2: '둘'} 출력

{1: 'one', 2: 'two'}
{1: 'one', 2: 'two', 3: '삼'}
{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two'}
{1: '하나', 2: '둘'}

**딕서녀리 자료형 함수**

- keys(): key값들 호출

- values(): value값들 호출

- items(): key와 value 쌍들을 호출

- get[key]: 설정한 key의 값을 호출 / dic[key]로도 사용 가능

- key in 변수명: key가 변수에 존재하는지 여부 호출 (True, False로 출력)

- clear(): 딕셔너리에 있는 모든 key, value 쌍 지우기

In [64]:
dic = {'사과': 'apple', '바나나': 'banana', '멜론': 'melon'}

print(dic.keys())                 # dict_keys(['사과', '바나나', '멜론']) 출력
print(dic.values())               # dict_values(['apple', 'banana', 'melon']) 출력
print(dic.items())                # dict_items([('사과', 'apple'), ('바나나', 'banana'), ('멜론', 'melon')]) 출력

print(dic.get('사과'))            # apple 출력
print(dic['사과'])                # apple 출력

print('사과' in dic)              # True 출력
print('딸기' in dic)              # False 출력

dic.clear()                       # 딕셔너리에 있는 모든 key, value 쌍 지우기
print(dic)                        # {} 출력

dict_keys(['사과', '바나나', '멜론'])
dict_values(['apple', 'banana', 'melon'])
dict_items([('사과', 'apple'), ('바나나', 'banana'), ('멜론', 'melon')])
apple
apple
True
False
{}

# **집합 자료형 (Set)**

- 집합(set)과 관련된 것을 처리하기 위해 만든 자료형

- 중복을 허용하지 않으며 순서가 없음

In [67]:
s1 = set([1, 2, 2, 3, 3])
s2 = set('i am a boy')
s3 = set([1, 5, 6])

print(s1)                                     # {1, 2, 3} 출력 → 딕셔너리처럼 {} 괄호로 표시하지만, key와 value가 있으면 딕셔너리, 없으면 집합
print(s2)                                     # {'m', 'b', ' ', 'a', 'i', 'o', 'y'} 출력 → am과 a에서의 a는 중복되기 때문에 a는 1번만 출력 / 글자 순서는 무작위여서 매번 변경
print(s3)                                     # {1, 5, 6} 출력

l1 = list(s1)
print(l1)                                     # [1, 2, 3] 출력 → 집합을 리스트로 변경
t1 = tuple(s1)
print(t1)                                     # (1, 2, 3) 출력 → 집합을 튜플로 변경

{1, 2, 3}
{'m', 'b', ' ', 'a', 'i', 'o', 'y'}
{1, 5, 6}
[1, 2, 3]
(1, 2, 3)

**교집합**

- 2개 이상의 집합 중 모두에 있는 값만 출력

- 집합1 & 집합2, 집합1.intersection(집합2)로 사용 가능

**합집합**

- 2개 이상의 집합을 하나로 합쳐진 값을 출력, 집합이기에 모든 집합에 있는 경우 중복되는 값은 1개만 유지

- 집합1 | 집합2, 집합1.union(집합2)로 사용 가능

**차집합**

- 2개 이상의 집합에서 뺀 값을 사용, 기존 집합에서 중복되는 값을 제외한 값만 출력

- 집합1 - 집합2, 집합1.difference(집합2)로 사용 가능

In [72]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합
print(s1 & s2)                  # {4, 5, 6} 출력
print(s1.intersection(s2))      # {4, 5, 6} 출력

# 합집합
print(s1 | s2)                  # {1, 2, 3, 4, 5, 6, 7, 8, 9} 출력
print(s1.union(s2))             # {1, 2, 3, 4, 5, 6, 7, 8, 9} 출력

# 차집합
print(s1 - s2)                  # {1, 2, 3} 출력
print(s1.difference(s2))        # {1, 2, 3} 출력

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

**집합의 자료형**

- **집합의 값 추가: add(x)**
  - add(x) 함수를 사용해 1개의 값을 추가

  - add(x) 함수 사용 시 집합의 가장 마지막에 값 추가

- **집합의 여러 값 추가: update(리스트)**
  - update(리스트)함수를 사용해 여러개의 값을 추가

  - add(x) 함수와 마찬가지로 집합의 가장 마지막에 값들 추가

- **집합의 특정 값 삭제: remove(x)**
  - remove(x)를 통해 특정 값을 제거

In [75]:
s1 = set([1, 2, 3])

s1.add(4)                   # s1 집합 마지막에 4 추가
print(s1)                   # {1, 2, 3, 4} 출력

s1.update([5, 6, 7])        # s1 집합 마지막에 5, 6, 7 추가
print(s1)                   # {1, 2, 3, 4, 5, 6, 7} 출력

s1.remove(2)                # s1 집합 중 2의 값 제거
print(s1)                   # {1, 3, 4, 5, 6, 7} 출력

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 3, 4, 5, 6, 7}

# **불 자료형 (bool)**

- 참과 거짓을 나타내기 위한 자료형

- 불 자료형의 첫글자는 무조건 대문자로 사용

**불 자료형과 비교 연산자**

- 불 자료형은 비교연산자와 사용 가능

**비교 연산자의 종류**

- **==** : 동일 여부, Python에서 =는 대입 연산자이므로 양쪽의 값이 같은지 확인하기 위해선 =을 2개 사용

- **!=** : 양쪽이 동일하지 않은지 여부, Python에서 !는 not과 같이 부정의 의미로 사용하므로 양쪽의 값이 같지 않은지 확인하기 위해 사용

- **>** : 왼쪽의 값이 오른쪽보다 큰지 확인하기 위한 여부, >=을 하면 양쪽의 값이 같아도 True를 출력

- **<** : 오른쪽의 값이 왼쪽보다 큰지 확인하기 위한 여부, <=를 하면 양쪽의 값이 같아도 True를 출력

**자료형의 참과 거짓**

- 문자열: ""안에 값이 있으면 True, 없으면 False

- 리스트: []안에 값이 있으면 True, 없으면 False

- 튜플: ()안에 값이 있으면 True, 없으면 False

- 딕셔너리: {}안에 값이 있으면 True, 없으면 False

- 정수: 1이면 True, 0이면 False

- None: 거짓

In [80]:
a = 3
b = 2

print(a == b)       # False 출력
print(a != b)       # True 출력

print(a > b)        # True 출력
print(3 >= 3)       # True 출력

print(a < b)       # False 출력
print(3 <= 3)       # True 출력

False
True
True
True
False
True