# **반복문**

- 특정 코드를 여러 번 실행

## **while문**

- 주어진 조건이 True(참)인 동안 코드를 반복적으로 실행하는 제어문

```
while 조건:
  조건이 참인 경우 실행되는 문장
  조건이 참인 경우 실행되는 문장
```

In [ ]:
# while문 외부에서 조건을 위한 변수 선언
num = 1

# while 조건 → num이 5이하인 경우
while num <= 5:
  # 조건이 참인 경우 실행되는 문장
  print(num)
  # 조건을 변경시키는 문장을 항상 while문 내부에 포함시켜야 함. / 없을 경우 조건을 항상 충족하여 무한 loop 가능
  num += 1

1
2
3
4
5

In [ ]:
while False:
  print('False인 경우')

while True:
  print('True인 경우')

## **Break문**

- while문을 조건과 관계없이 강제로 탈출하는 명령어

In [ ]:
while True:
  print('안녕하세요')
  break

# 안녕하세요 1번 출력 후 종료

while True:
  break
  print('안녕하세요')

# 바로 종료

안녕하세요

In [ ]:
num = 1

while True:
  print(num)
  num += 1            # num값 변경 → 조건을 위한 변경

  if num > 5:         # 조건문 → num이 5 이상인 경우 break (while문 강제 종료)
    break

1
2
3
4
5

## **Continue 명령어**

- while문에서 continue 아래의 문장을 무시하고 다음 루프로 실행시키는 코드
→ continue를 만나는 순간 즉시 조건을 검색하러 간다

In [ ]:
num = 0

while num <= 10:
  num += 1

  if num < 5:            # num이 5 미만인 경우 까지 조건문 내의 문장 실행
    continue             # 위의 조건이 True(참)일 경우 아래의 문장을 실행하지 않고 continue (다시 상단의 조건 검사하러 이동)

  print(num)             # 위의 if 조건문 내의 continue로 인해 5부터 11까지 출력

# 1: num = 0 → while 조건 충족 → num = num + 1 → num = 1 → if문 조건 충족 (num이 5미만) → continue
# 2: num = 1 → while 조건 충족 →  num = num + 1 → num = 2 → if문 조건 충족 (num이 5미만) → continue
# 3: num = 2 → while 조건 충족 →  num = num + 1 → num = 3 → if문 조건 충족 (num이 5미만) → continue
# 4: num = 3 → while 조건 충족 →  num = num + 1 → num = 4 → if문 조건 충족 (num이 5미만) → continue
# 5: num = 4 → while 조건 충족 →  num = num + 1 → num = 5 → if문 조건 불충족 → print(num) 실행 → 5 출력
# 6: num = 5 → while 조건 충족 →  num = num + 1 → num = 6 → if문 조건 불충족 → print(num) 실행 → 6 출력
# 7: num = 6 → while 조건 충족 →  num = num + 1 → num = 7 → if문 조건 불충족 → print(num) 실행 → 7 출력
# 8: num = 7 → while 조건 충족 →  num = num + 1 → num = 8 → if문 조건 불충족 → print(num) 실행 → 8 출력
# 9: num = 8 → while 조건 충족 →  num = num + 1 → num = 9 → if문 조건 불충족 → print(num) 실행 → 9 출력
# 10: num = 9 → while 조건 충족 →  num = num + 1 → num = 10 → if문 조건 불충족 → print(num) 실행 → 10 출력
# 11: num = 10 → while 조건 충족 →  num = num + 1 → num = 11 → if문 조건 불충족 → print(num) 실행 → 11 출력
# 12: num = 11 → while 조건 불충족 → 실행 종료

5
6
7
8
9
10
11

## **while문 예제 1. n보다 작거나 같은 3의 배수 합 구하기 예제**

**요구사항**
- 사용자로부터 정수 n을 입력받는다
- while 반복문을 사용하여 1부터 n까지의 숫자 중 3의 배수만 더한 합계를 출력한다.

In [ ]:
inputNum = int(input('정수를 입력해주세요: '))
sum = 0
count = 1

while count <= inputNum:
  if count % 3 == 0:
    sum += count

  count += 1

print('\n▶ 1부터 입력하신 %d까지의 3의 배수의 합은 %s입니다' %(inputNum, format(sum,  ',d')))

정수를 입력해주세요: 14

▶ 1부터 입력하신 14까지의 3의 배수의 합은 30입니다

## **whlie문 예제 2. 1부터 입력한 수까지 홀수가 출력하되, 100보다 크면 종료하는 예제**

**요구사항**

- 사용자로부터 정수 n을 입력받는다
- while 반복문을 사용하여 1부터 n까지의 숫자 중 홀수만 출력한다
- 단, 숫자가 100보다 크면 더 이상 출력하지 않고 반복문을 종료한다
- continue는 짝수를 건너뛸 때 사용하고, break는 100 초과 시 종료할 때 사용한다

In [ ]:
inputNum = int(input('정수를 입력해주세요: '))
i = 0

while i < inputNum:
  i += 1

  if i > 100:
    print('숫자가 100을 초과하여 종료합니다')
    break

  if i % 2 == 0:
    continue

  print(i)

정수를 입력해주세요: 1000
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
숫자가 100을 초과하여 종료합니다

## **for문**

- while문과 비슷하게 진행되지만, 조금 더 직관적
- 특정 코드를 여러번 실행
- 주어진 시퀀스의 요소에 대해 코드를 반복 실행
- continue, break문 사용 가능

```
# for i in 시퀀스 (리스트, 튜플, 문자열):
  수행할 문장 1
  수행할 문장 2
```

In [ ]:
list1 = ['one', 'two', 'three', 'four', 'five']

count = 1

for i in list1:
  print(str(count) + '회차 i의 값: ', end='')
  print(i)
  count += 1

# 1: i = list[0] = 'one' / count = 1 = → '1회차 i의 값: one' 출력
# 2: i = list[1] = 'two' / count = 2 = → '2회차 i의 값: two' 출력
# 3: i = list[2] = 'three' / count = 3 = → '3회차 i의 값: three' 출력
# 4: i = list[3] = 'four' / count = 4 = → '4회차 i의 값: four' 출력
# 5: i = list[4] = 'five' / count = 5 = → '5회차 i의 값: five' 출력

a = [(1, 1), (2, 2), (3, 3)]

for (b, c) in a:
  print(b + c)

1회차 i의 값: one
2회차 i의 값: two
3회차 i의 값: three
4회차 i의 값: four
5회차 i의 값: five
2
4
6

## **for문 예제 1. 학생들의 점수 출력**

**요구사항**

- 아래와 같이 (이름, 정수) 형태의 튜플이 담긴 리스트가 주어진다
```
# students = [('철수', 85), ('영희', 92), ('민수', 78)]
```
- for 반복문을 사용하여 다음과 같이 각 학생의 이름과 점수를 출력한다

In [ ]:
students = [('철수', 85), ('영희', 92), ('민수', 78)]

for name, score in students:
  print(f'{name} 학생의 점수는 {score}점입니다')

철수 학생의 점수는 85점입니다
영희 학생의 점수는 92점입니다
민수 학생의 점수는 78점입니다

## **range 함수**

- 숫자 시퀀스를 자동으로 만들어주는 함수
- range(번호)
- range(시작 번호, 마지막 번호, 증감치)
- 시작 번호 포함, 마지막 번호 미포함 가능

In [ ]:
# range(번호) → 0부터 번호까지 자동으로 1씩 증가
for i in range(10):
  print(i)
# 0 ~ 9 출력

# range(시작 번호, 마지막 번호, 증감치) → 시작 번호부터 마지막 번호-1까지 증감치에 따라 변화
for i in range (-10, 12, 2):
  print(i)
# -10 ~ 10까지 2씩 증가 출력

0
1
2
3
4
5
6
7
8
9
-10
-8
-6
-4
-2
0
2
4
6
8
10

## **for문 예제 2. 구구단 출력 예제**

```
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
```

In [ ]:
for i in range (1, 10, 1):
  print('9 X %d = %d' %(i, 9*i))

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## **for문 예제 3. 학생 점수에 따라 합격/불합격 판별 예제**

**요구사항**

- 학생들의 점수 리스트가 scores = [15, 50, 46, 86, 94]로 주어진다
- for문 반복문을 이용하여 리스트의 각 점수를 확인하여 다음 조건을 따른다
  1. num이란 번호를 1번부터 증가시킨다
  2. 번호가 짝수일 경우 continue를 사용하여 건너뛴다
  3. 번호가 5가 되면 break를 사용하여 반복을 중단한다
  4. 그 외에는 점수가 50 이상이면 'O번 학생 합격!", 그렇지 않으면, '0번 학생 불합격!"을 출력한다

In [ ]:
scores = [15, 50, 46, 86, 94]
num = 0

for i in scores:
  num += 1

  if num == 5:
    break

  if num % 2 == 0:
    continue

  if i >= 50:
    print('%d번 학생 합격!' %num)
  else:
    print('%d번 학생 불합격!' %num)

1번 학생 불합격!
3번 학생 불합격!

## **for문 예제 4. 학생들의 점수에 따라 합격/불합격 판별 후 불합격 학생들 평균 점수 출력**

**요구사항**

- 학생들의 점수리스트가 scores = [15, 50, 46, 86 ,94, 100, 51, 60]로 주어진다
- for 반복문과 조건문을 활용하여 다음 작업을 수행한다
  1. 각 학생에게 번호(1번부터)를 부여한다
  2. 홀수번호 학생만 검사하며, 점수가 60점 이상이면 '0번 학생, 합격!', 그렇지 않으면 '0번 학생, 불합격!을 출력한다
  3. 불합격한 홀수 번호 학생들의 점수를 누적하여 평균을 계산한다
  4. 반복이 끝난 후, 불합격자들의 평균 점수를 '불합격 받은 학생들의 평균 점수는 : 00입니다' 형식으로 출력한다

In [ ]:
scores = [15, 50, 46, 86 ,94, 100, 51, 60]
studentNum = 0
failStudentCount = 0
failStudentScoreTotal = 0

for score in scores:
  studentNum += 1

  if studentNum % 2 == 0:
    continue

  if score >= 60:
    print('%d번 학생, 합격!' %studentNum)
  else:
    failStudentCount += 1
    failStudentScoreTotal += score
    print('%d번 학생, 불합격!' %studentNum)

failStudentScoreAverage = failStudentScoreTotal/failStudentCount
print('\n불합격 받은 학생들의 평균 점수는 : %d입니다' %failStudentScoreAverage)

1번 학생, 불합격!
3번 학생, 불합격!
5번 학생, 합격!
7번 학생, 불합격!

불합격 받은 학생들의 평균 점수는 : 37입니다

## **이중 for문 예시**

In [ ]:
for i in range (3):
  # 5회 반복
  for j in range(5):
    print('*', end='')
  print()

# 3회 반복
# 1회차 때, 내부에 있는 for문이 끝날때까지 대기
# 2회차 때, 다시 한번 * 5개 출력
# 3회차 때, * 5개 출력 → 엔터 → 종료

for i in range (4):
  # 2회 반복
  for j in range(2):
    print('*', end='')
  print()

*****
*****
*****
**
**
**
**

# **점프 투 파이썬 3장 예제**

## **문제 1. 조건문의 참과 거짓**

다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")
```

**A. shirt 출력**

In [ ]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

## **문제 2. 3의 배수의 합 구하기**

while 문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해보자

In [ ]:
result = 0
i = 1

while i <= 1000:
  if i % 3 == 0:
    result += i
  i+=1

print(result)

166833

## **문제 3. 별 표시하기**

while 문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해보자


```
*
**
***
****
*****
```

In [ ]:
i = 0
while True:
  i += 1
  if i > 5: break
  print('*' * i)

*
**
***
****
*****

## **문제 4. 1부터 100까지 출력하기**

for 문을 사용해 1부터 100까지의 숫자를 출력해보자

In [ ]:
for i in range(1, 101, 1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## **문제 5. 평균 점수 구하기**

A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
```
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
```
for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [ ]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
  total += score

average = total / len(A)
print(average)

79.0

## **문제 6. 리스트 컴프리헨션 사용하기**

다음 소스 코드는 리스트의 요소 중에서 홀수만 골라 2를 곱한 값을 result 리스트에 담는 예제이다.

```
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
  if n % 2 == 1:
    result.append(n * 2)
```
이 코드를 리스트 컴프리헨션을 사용하여 표현해보자

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]

# **반복문 문제 풀이**

## **while 반복문 1. 제곱 출력하기**

**요구사항**

- 사용자로부터 하나의 정수를 입력받는다
- 입력된 정수 num까지의 숫자에 대해 다음을 수행한다
  - while문을 이용하여 1부터 num까지 각 수의 제곱을 출력한다
  - for문을 이용하여 1부터 num까지 각 수의 제곱을 출력한다
- 두 반복문 모두 1^2, 2^2, ..., num^2까지의 결과를 출력해야 한다

In [ ]:
number = int(input("정수를 입력해주세요: "))
n = 1

print('\n============== while문 ==============\n')
while n <= number:
  print('%d의 제곱은 %d입니다' %(n, n**2))
  n += 1

print('\n============== for문 ==============\n')
for i in range(1, number+1, 1):
  print('%d의 제곱은 %d입니다' %(i, i**2))

정수를 입력해주세요: 5

============== while문 ==============

1의 제곱은 1입니다
2의 제곱은 4입니다
3의 제곱은 9입니다
4의 제곱은 16입니다
5의 제곱은 25입니다

============== for문 ==============

1의 제곱은 1입니다
2의 제곱은 4입니다
3의 제곱은 9입니다
4의 제곱은 16입니다
5의 제곱은 25입니다

## **while 반복문 2. 공 튕기기 시뮬레이션**

**요구사항**

- 사용자로부터 하나의 정수를 입력받는다
- 공의 초기 높이는 100cm이다
- 공은 한 번 튈 때마다 이전 높이의 3/5만큼 튄다
- 입력한 횟수만큼 공이 튄 후, 최종 높이를 출력한다
- 최종 출력 형식은 "최종 높이: 00"와 같이 표시한다

In [ ]:
number = int(input('공을 튕길 횟수를 입력해주세요: '))
ballHeight = 100
hopCount = 1

while hopCount <= number:
  ballHeight = ballHeight * 0.6
  hopCount += 1

print('최종 높이: %f' %ballHeight)

공을 튕길 횟수를 입력해주세요: 5
최종 높이: 7.776000

## **while 반복문 3. 별 찍기**

**요구사항**

- 패턴 1: 정방향 삼각형
- 패턴 2: 오른쪽 정렬 정방향 삼각형
- 패턴 3: 역삼각형
- 패턴 4: 오른쪽 정렬 역삼각형
- 패턴 5: 피라미드

### **패턴 1: 정방향 삼각형**

```
*
**
***
****
```

In [ ]:
count = 1

while count <= 4:
  print('*' * count)
  count += 1

*
**
***
****

### **패턴 2: 오른쪽 정렬 정방향 삼각형**

```
    *
   **
  ***
 ****
```

In [ ]:
count = 1

while count <= 4:
  print(' ' * (4 - count), end ='')
  print('*' * count)
  count += 1

   *
  **
 ***
****

### **패턴 3: 역삼각형**

```
****
***
**
*
```

In [ ]:
count = 4

while count >= 1:
  print('*' * count)
  count -= 1

****
***
**
*

### **패턴 4: 오른쪽 정렬 역삼각형**

```
****
 ***
  **
   *
```

In [ ]:
count = 4

while count >= 1:
  print(' ' * (4 - count), end ='')
  print('*' * count)
  count -= 1

****
 ***
  **
   *

### **패턴 5: 피라미드**

```
   *
  ***
 *****
*******
```

In [ ]:
count = 1

while count <= 4:
  print(' ' * (4 - count), end='')
  print('*' * count, end='')
  print('*' * (count-1))
  count += 1

   *
  ***
 *****
*******

## **while 반복문 4. 커피 자판기 시뮬레이션**


**요구사항**

- 사용자에게 커피 개수를 입력받는다.
- 사용자가 돈을 넣으면 다음 조건에 따라 처리한다
  - 커피 값은 300원이다
  - 300원을 넣으면 "커피를 줍니다"를 출력하고 커피를 1개 줄인다
  - 300원보다 많이 넣으면 "거스름돈 00원을 주고 커피를 줍니다"를 출력하고 커피를 1개 줄인다.
  - 300원보다 적게 넣으면 "돈을 다시 돌려주고 커피를 주지 않습니다"를 출력하고, 남은 커피 수를 출력한다.
- 커피가 0개가 되면 "커피가 다 떨여졌습니다. 판매를 중지합니다"를 출력하고 반복을 종료한다.

In [ ]:
coffee = int(input('커피의 개수를 입력해주세요: '))

print('\n================ 커피 판매 시작================\n')
while True:
  if coffee == 0:
    print('커피가 다 떨어졌습니다. 판매를 중지합니다')
    break

  money = int(input('돈을 입력해주세요: '))

  if money > 300:
    money -= 300
    print('거스름돈 %d원을 주고 커피를 줍니다' %money)
    coffee -= 1
  elif money == 300:
    print('커피를 줍니다')
    coffee -= 1
  else:
    print('돈을 다시 돌려주고 커피를 주지 않습니다')
    print('현재 남은 커피는 %d개입니다' %coffee)

  print()

커피의 개수를 입력해주세요: 3

================ 커피 판매 시작================

돈을 입력해주세요: 500
거스름돈 200원을 주고 커피를 줍니다

돈을 입력해주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다
현재 남은 커피는 2개입니다

돈을 입력해주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다
현재 남은 커피는 2개입니다

돈을 입력해주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다
현재 남은 커피는 2개입니다

돈을 입력해주세요: 300
커피를 줍니다

돈을 입력해주세요: 400
거스름돈 100원을 주고 커피를 줍니다

커피가 다 떨어졌습니다. 판매를 중지합니다

## **for 반복문 1. 문자열 내 알파벳 빈도수 출력**

**요구사항**

- 사용자로부터 문자열을 입력받는다
- 입력된 문자열에서 알파벳(az,AZ)의 빈도수를 출력한다
- 대소문자는 구분하지 않는다
- 알파벳이 아닌 문자는 무시한다
- 알파벳은 오름차순으로 정렬하여 출력한다

예시 입력
Hello, Python!

예시 출력
- e: 1
- h: 2
- l: 2
- n: 1
- o: 2
- p: 1
- t: 1
- y: 1

In [ ]:
import re

comp = re.compile('[a-zA-Z]')

string = input('영어로된 문자열을 입력해주세요: ')
charDict = {}
dictKeys = []

print('\n=============== 결과 출력 ===============\n')

for char in string:
  lowerChar = char.lower()

  re = comp.match(lowerChar)

  if re:
    if lowerChar in charDict:
      charDict[lowerChar] = charDict.get(lowerChar) + 1
    else:
      charDict[lowerChar] = 1

for key in charDict.keys():
  dictKeys.append(key)

dictKeys.sort()

for key in dictKeys:
  print('%s: %s' %(key, charDict.get(key)))

영어로된 문자열을 입력해주세요: afasfasfㅐㅇㅁㄹ

=============== 결과 출력 ===============

a: 3
f: 3
s: 2

## **for 반복문 2. 계단식 숫자 출력**

**요구사항**

- 사용자로부터 정수 n을 입력받는다
- for 반복문을 이용해 다음과 같은 숫자 계단을 출력한다
- 각 줄에는 1부터 해당 줄 번호까지의 숫자를 공백과 함께 출력한다
- 단, 마지막에는 공백이 있어선 안된다
- 줄 수는 입력한 정수만큼 출력한다

예시 출력 (입력: 5)
- 1
- 1 2
- 1 2 3
- 1 2 3 4
- 1 2 3 4 5

In [ ]:
number = int(input('정수를 입력해주세요: '))

for i in range(1, number+1, 1):
  print()
  for j in range(1, i+1, 1):
    if j == i:
      print(j, end='')
    else:
      print(j, end=' ')

정수를 입력해주세요: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## **for 반복문 3. 1부터 500까지의 3과 5의 공배수 출력**

**요구사항**

- 1부터 500까지의 숫자 중에서 3과 5의 공배수만 출력한다
- 출력 결과는 한 줄에 5개씩 출력되도록 한다
- 줄바꿈은 5개를 출력할 때마다 적용한다
- 각 숫자는 가독성을 위해 일정한 간격으로 정렬한다

예시 출력

```
15 30 45 60 75
90 ...
```

In [ ]:
count = 0

for i in range(1, 501, 1):
  if i % 3 == 0 and i % 5 == 0:
    print(i, end=' ')
    count += 1

  if count == 5:
    count = 0
    print()

15 30 45 60 75
90 105 120 135 150
165 180 195 210 225
240 255 270 285 300
315 330 345 360 375
390 405 420 435 450
465 480 495

## **for 반복문 4. 구구단 2단부터 9단까지 출력한다**

**요구사항**

- for 반복문을 중첩 사용하여 2단부터 9단까지의 구구단을 출력한다
- 각 단은 단 제목을 먼저 출력한 후, 그 단의 곱셈 결과를 1부터 9까지 출력한다
- 출력 형식은 2 X 1 = 2, 3 X 2 = 6과 같은 형태로 출력한다

In [ ]:
for i in range (2, 10, 1):
  print('\n=== %d단 ===\n' %i)
  for j in range (1, 10, 1):
    print('%d X %d = %d' %(i, j, i*j))

=== 2단 ===

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

=== 3단 ===

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

=== 4단 ===

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

=== 5단 ===

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

=== 6단 ===

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

=== 7단 ===

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

=== 8단 ===

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

=== 9단 ===

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# **반복문 문제 풀이 추가**

## **1. 달팽이 문제**

요구사항

- 사용자가 입력한 정수의 크기만큼 배열을 만들어 달팽이 모양으로 출력

예시 출력 (입력: 9)

```
1 2 3
8 9 4
7 6 5
```

In [314]:
number = int(input('배열의 크기를 입력해주세요: '))
newList = [[0 for col in range(number)] for row in range(number)]

xCoordinates = -1
yCoordinates = 0
count = 0
size = number
step = 1

while size > 0:
  for _ in range(size):
    xCoordinates += step
    count += 1
    newList[yCoordinates][xCoordinates] = count

  size -= 1

  for _ in range(size):
    yCoordinates += step
    count += 1
    newList[yCoordinates][xCoordinates] = count

  step *= -1


for i in range(number):
  for j in range(number):
    print('%d' %newList[i][j], end=' ')
  print()

배열의 크기를 입력해주세요: 4
1 2 3 4
12 13 14 5
11 16 15 6
10 9 8 7